{{!< default}}

<div class="content-area">
<main class="site-main">


    <div class="tag-feed owl" data-count="{{pagination.total}}">
        <a href="https://forbiddentexts.substack.com/">
            <div class="tag u-placeholder">
                <img class="tag-image u-object-fit" src="https://unpopular.academy/assets/images/forbidden-texts.jpg" alt="The Forbidden Texts">
                <div class="tag-content">
                    <h2 class="tag-name">The Forbidden Texts</h2>
                    <div class="tag-description">Subscribe now!</div>   
                </div> 
            </div>
        </a>
        <a href="https://www.imperiumpress.org/shop/populist-delusion/">
            <div class="tag u-placeholder">
                <img class="tag-image u-object-fit" src="https://unpopular.academy/assets/images/populist-delusion.jpg" alt="Populist Delusion">
                <div class="tag-content">
                    <h2 class="tag-name">The Populist Delusion</h2>
                    <div class="tag-description">Buy it now!</div>   
                </div> 
            </div>
        </a>
        <a href="https://www.academic-agency.com/bundles/the-megabundle">
            <div class="tag u-placeholder">
                <img class="tag-image u-object-fit" src="https://unpopular.academy/assets/images/megabundle.jpg" alt="Megabundle">
                <div class="tag-content">
                    <h2 class="tag-name">Megabundle</h2>
                    <div class="tag-description">Buy it now!</div>   
                </div> 
            </div>
        </a>
        <a href="https://www.academic-agency.com/bundles/the-trivium">
            <div class="tag u-placeholder">
                <img class="tag-image u-object-fit" src="https://unpopular.academy/assets/images/trivium.jpg" alt="Trivium">
                <div class="tag-content">
                    <h2 class="tag-name">The Trivium</h2>
                    <div class="tag-description">Buy it now!</div>   
                </div> 
            </div>
        </a>
    </div>


</main>
</div>