.img-megabundle{
    background-image: url('https://unpopular.academy/assets/images/megabundle.jpg');   
}

.img-trivium{
    background-image: url('https://unpopular.academy/assets/images/trivium.jpg');   
}

.img-populist-delusion{
    background-image: url('https://unpopular.academy/assets/images/populist-delusion.jpg');   
}

.img-forbidden-texts{
    background-image: url('https://unpopular.academy/assets/images/forbidden-texts.jpg');   
}